{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Sunken Podcast{% endblock %}
{% block content %}
<div id="indexpage">
  <div class="container">
    <div class="img-wlc">
      <h1>Welcome to Sunken, <br> where voices matter.</h1>
      <a href="{% url 'Login' %}"><button class="get-s-btn" type="button" name="button">Get started</button></a>
    </div>

    <div class="new-podcasts">
        <h2>New Podcasts</h2>
      <div v-for='info in podcastList.results' class="new-pdc">
        <a v-bind:href="addurlpod(info.id)">
        <h3>[[info.name]]</h3>
        <img v-bind:src="info.picture" width="100%" height="192px">
        </a>
      </div>
    </div>
    <div class="l-episodes">
      <div class="lp-h">
        <div v-bind:class="[bothtrue ? active1 : '', !bothtrue ? h2lp: '' ]">
          <h2>Latest Episodes</h2>
        </div>
        <div v-bind:class="[bothtrue ? active : '', !bothtrue ? lpbtns: '' ]">
        <button v-if='hasPrevious' v-on:click='previousPage' class="previous-btn">Previous</button>
        <button v-if='hasNext' v-on:click='nextPage' class="next-btn"> &nbsp;&nbsp;More&nbsp;&nbsp;</button>
      </div>
    </div>
    <div class="jj"></div>
      <div v-for='info in episodeList.results' class="podcast-div">
        <div class="episode-inf">
          <h3><a v-bind:href="addurl(info.id)">[[info.name]]</a></h3>
          <p>[[info.description|snippet]]</p>
          <p>by <a v-bind:href="adduserUrl(info.username)">@[[info.username]]</a> <span>in <a v-bind:href="addurlpod(info.podcast)">[[info.podcast_name]]</a> <span style="color:black;">/</span> [[info.date]]</span></p>
        </div>
        <div class="episode-img">
          <a v-bind:href="addurl(info.id)"><img :src="info.picture" width="100%" height="140px" alt=""></a>
        </div>
      </div>
    </div>

    <div class="p-episodes">
      <div class="p-episodes-container">
      <h3>Popular on Sunken</h3><hr>
      <div v-for='episode in popular_episodes' class="pos">
        <h4><a v-bind:href="addurl(episode.id)">[[episode.name]]</a></h4>
        <p>[[episode.description]]</p>
        <p>by <a v-bind:href="adduserUrl(episode.username)">@[[episode.username]]</a> <span>in <a v-bind:href="addurlpod(episode.podcast)">[[episode.podcast_name]]</a> <span style="color:black;">/</span> [[episode.date]]</span></p>
        <hr>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/index.js' %}" type="text/javascript"></script>
{% endblock %}
