{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Sunken Podcast{% endblock %}
{% block content %}
<div id="addpc-id" class="addpc">
<div class="edit addpodc">
<div class="container">
  <h2><span class="glyphicon glyphicon-triangle-right"></span> Add New Podcast</h2><hr>
  <form v-on:submit.prevent='addpodcast' method="POST">
      <h5>Name:</h5>
      <input class="login-field reg-field namefield" type="text" v-model:value='name'>
      <br><br>
      <h5>Description:</h5>
      <textarea class="login-field reg-field desfield" type="text" v-model:value='description' rows="5" cols="50"></textarea>
      <br><br>
      <input id="pd-pic" type="file" name="picture" @change='attachFile'>
    <input class="save" id='save1' type="submit">
  </form>
  <button class="chpic-btn addpc-pic" onclick="document.getElementById('pd-pic').click();" required="false"><span class="glyphicon glyphicon-picture"></span> Select Picture</button><hr>
  <input class="add-btn-pc" style="color:white;" type="submit" onclick="document.getElementById('save1').click();" value="Add Podcast">
</div>
<div v-if='errors' class="errors">
  <p>[[errortext]] <button class="errors-btn" type="button" v-on:Click='close'>Ok</button></p>
</div>
</div>
</div>
{% endblock %}
{% block js %}<script src="{% static 'js/add_podcast.js' %}" type="text/javascript"></script>{% endblock %}
