{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Sunken Podcast{% endblock %}
{% block content %}
<div id="addep-id" class="addpc">
<div class="edit addpodc">
<div class="container">
  <h2><span class="glyphicon glyphicon-triangle-right"></span> Add New Episode</h2><hr>
  <form v-on:submit.prevent='addepisode' method="POST">
      <h5>Title:</h5>
      <input class="login-field reg-field namefield" type="text" v-model:value='name'>
      <br><br>
      <h5>Description:</h5>
      <textarea class="login-field reg-field desfield" type="text" v-model:value='description' rows="5" cols="50"></textarea>
      <br><br>
      <h5>Transcript:</h5>
      <textarea class="login-field reg-field desfield" type="text" v-model:value='transcript' rows="5" cols="50"><pre></pre></textarea>
      <br><br>
      <h5>Podcast:</h5>
      <select  v-model='podcast' class="selpodc">
        <option v-for='podcast in podcasts' v-bind:value="podcast.id">[[podcast.name]]</option>
      </select><br><br>
      <input id="pd-pic" type="file" name="picture" @change='attachFile'>
      <input id="pd-aud" type="file" name="audio" @change='attachFile1'>
    <input class="save" id='save1' type="submit">
  </form>
  <button class="chpic-btn addpc-pic" onclick="document.getElementById('pd-pic').click();" required="false"><span class="glyphicon glyphicon-picture"></span> Select Picture</button>&nbsp;&nbsp;
  <button class="chpic-btn addpc-pic ep-audio-add" onclick="document.getElementById('pd-aud').click();" required="false"><span class="glyphicon glyphicon-record"></span> Select Audio&nbsp;&nbsp;</button>
<hr>
  <input class="add-btn-pc" style="color:white;" type="submit" onclick="document.getElementById('save1').click();" value="Add Episode">
</div>
<div v-if='errors' class="errors">
  <p>[[errortext]] <button class="errors-btn" type="button" v-on:Click='close'>Ok</button></p>
</div>
</div>
</div>
{% endblock %}
{% block js %}<script src="{% static 'js/add_episode.js' %}" type="text/javascript"></script>{% endblock %}
