{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Episode Detail{% endblock %}
{% block content %}
<div v-on:mouseover='addaudio' id="episode-audio">
  <div v-show='!setting'>
    <span v-if='permission' v-on:click='chsetting' class="episode-setting-btn glyphicon glyphicon-cog"></span>
    <img v-bind:src="episode.picture" class="ep-audio-img">
    <div class="container">
    <audio ref='player' controls>
      <source id='ah' src="" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
  </div>
    <div v-if='!setting' class="container">
    <div class="ep-detail-pg">
      <div class="ep-detail-left">
        <h2>Detail</h2>
        <hr>
        <h3>[[episode.name]]</h3><hr>
        <p>[[episode.description]]</p><hr>
        <a v-bind:href="pcUrl(episode.podcast)"><span class="glyphicon glyphicon-flag"></span> [[podcast]]</a>
        <p><a v-bind:href="userUrl(episode.username)"><span class="glyphicon glyphicon-user"></span> @[[episode.username]]</a></p>
        <p style="color:rgb(51, 122, 183);" ><span class="glyphicon glyphicon-calendar"></span> [[episode.date]]</p><hr>
        <p><span style="color:tomato" class="glyphicon glyphicon-fire"></span> Likes: [[likes]]</p><hr>
        <a target="_blank" v-bind:href="episode.audio_track"><button class="download-btn" type="button" name="button">Download <span class="glyphicon glyphicon-download-alt"></span></button></a>
      </div>
      <div class="ep-detail-right">
        <h2>Transcript <span v-if='logedin' v-on:click='like' v-bind:title="lk" class="like-ep"><span v-bind:class="likeClass"></span></span></h2>
        <hr>
        <p><pre>[[episode.transcript]]</pre></p>
      </div>
    </div>
    </div>
  <div v-if='setting' class="pc-setting epset">
    <div class="container">
      <div class="edit-pc">
        <form v-on:submit.prevent='update' method="PUT">
            <h5>Name:</h5>
            <input class="field namefield" type="text" v-model='episode.name' >
            <br><br>
            <h5>Description:</h5>
            <textarea maxlength="300" class="field desfield" rows="5" cols="50" v-model='episode.description'></textarea>
            <br><br>
            <h5>Transcript:</h5>
            <textarea class="field desfield" rows="15" cols="50"  v-model='episode.transcript'></textarea>
            <br><br>
            <input id="pd-pic" type="file" name="picture" @change='attachFile'>
        <input id="pd-save" class="save" type="submit" value="Save Changes">
        </form>
        <button class="chpic-btn" onclick="document.getElementById('pd-pic').click();" required="false">Select Picture</button><hr>
        <input class="save-btn-pc" style="color:white;" type="submit" onclick="document.getElementById('pd-save').click();" value="Save Changes">
        <a href="#confirm-delete1"></a><button v-on:Click='chconfirm' class="delete-btn">Delete Episode</button>
      </div>
      <button class="cancel-btn-pc" v-on:Click='chsetting' type="button" name="button">Cancel</button>
      <div class="confirm-delete" v-if='confirm'>
        <p>Are You sure?</p><br>
        <button class="confirm-delete-yes" v-on:Click='deleteep' type="button">Yes</button>
        <button class="confirm-delete-cancel"  v-on:Click='chconfirm' type="button">Cancel</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div v-if='success' class="success">
      <p>Podcast Successfully Updated. <button class="success-btn" type="button" v-on:Click='close'>Ok</button></p>
    </div>
    <div v-if='errors' class="errors">
      <p>some errors occurred, Please try again later. <button class="errors-btn" type="button" v-on:Click='close'>Ok</button></p>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}<script src="{% static 'js/episode.js' %}" type="text/javascript"></script>{% endblock %}
