{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Podcast Detail{% endblock %}
{% block content %}
<div v-if='loaded' id="podcast-detail">
  <div class="container">
    <div v-show='success' class="success">
      <p>Podcast Successfully Updated. <button class="success-btn" type="button" v-on:Click='close'>Ok</button></p>
    </div>
    <div v-show='errors' class="errors">
      <p>some errors occurred, Please try again later. <button class="errors-btn" type="button" v-on:Click='close'>Ok</button></p>
    </div>
  </div>
<div v-if='!setting' class="podcast-detail-page">
  <div class="container">
    <div class="detail-left">
      <img v-bind:src="podcast.picture" width="100%" height="250px">
    </div>
    <div class="detail-right">
      <span v-if='permissionpc && myuser' v-on:Click='chsetting' class="podcast-setting-btn glyphicon glyphicon-cog"></span>
      <h2>[[podcast.name]]</h2>
      <p>[[podcast.description]]</p>
      <span class="glyphicon glyphicon-user"></span> <a class="puu" v-bind:href="adduserurl(podcast.username)">[[podcast.username]]</a>
    </div>
  </div>
</div>
<div v-if='!setting' class="episodes">
  <div class="container">
  <h2><span class="glyphicon glyphicon-flash"></span> Episodes ([[episodes.count]])</h2>
  </div>
  <div v-for='episode in episodes.results' class="container">
    <div class="ep">
    <div class="ep-img">
      <img v-bind:src="episode.picture" width="100%" height="150px">
    </div>
    <div class="ep-detail">
        <h3>[[episode.name]]</h3>
        <p>[[episode.description]]</p>
        <a v-bind:href="epUrl(episode.id)"><button type="button" class="listen-btn" name="button"><span class="glyphicon glyphicon-play-circle"></span> Listen</button></a>
        <!-- <span type="button" class="like-btn" name="button"><span class="glyphicon glyphicon-heart"></span> 225</span>
        <span type="button" class="comment-btn" name="button"><span class="glyphicon glyphicon-comment"></span> 20</span> -->
        <span title="report" v-if='myuser && !permissionpc' v-on:click='report(episode.id)' class="glyphicon glyphicon-question-sign floatright report-ep"></span>
        <span v-if='permissionpc' v-on:click='chconfirmep(episode.name, episode.id)' class="glyphicon glyphicon-trash floatright del-ep"></span>
    </div>
  </div>
</div>
</div>
<br>
<div v-if='setting' class="pc-setting">
  <div class="container">
    <div class="edit-pc">
      <form v-on:submit.prevent='update' method="PUT">
          <h5>Name:</h5>
          <input class="field" type="text" v-model:value="podcast.name">
          <br><br>
          <h5>Description:</h5>
          <textarea maxlength="300" class="field" rows="5" cols="50" v-model:value="podcast.description"></textarea>
          <br><br>
          <input id="pd-pic" type="file" name="picture" @change='attachFile'>
      <input id="pd-save" class="save" type="submit" value="Save Changes">
      </form>
      <button class="chpic-btn" onclick="document.getElementById('pd-pic').click();" required="false">Select Picture</button><hr>
      <input class="save-btn-pc" style="color:white;" type="submit" onclick="document.getElementById('pd-save').click();" value="Save Changes">
      <button v-on:Click='chconfirm' class="delete-btn">Delete Podcast</button>
    </div>
    <button class="cancel-btn-pc" v-on:Click='chsetting' type="button" name="button">Cancel</button>
    <div class="confirm-delete" v-if='confirm'>
      <p>Are You sure?</p><br>
      <button class="confirm-delete-yes" v-on:Click='deletepc' type="button">Yes</button>
      <button class="confirm-delete-cancel" v-on:Click='chconfirm' type="button">Cancel</button>
    </div>
  </div>
</div>
<div class="confirm-delete" v-if='confirmep'>
  <p>Are You sure want to delete <span class="nameepdel">[[epnamedel]]</span>?</p><br>
  <button class="confirm-delete-yes" v-on:Click='deleteep' type="button">Yes</button>
  <button class="confirm-delete-cancel" v-on:Click='chconfirmep' type="button">Cancel</button>
</div>
<div v-if='reported' class="report">
  <h3>Thank you, your report received.</h3>
</div>
</div>
{% endblock %}
{% block js %}<script src="{% static 'js/podcast.js' %}" type="text/javascript"></script>{% endblock %}
