html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
img{
	margin-bottom: 0px;
	padding: 0px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Heebo', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 10px;
}
.se1{
    padding: 4px;
    outline:none;
    border: 0.5px solid #e6e6e6;
    border-radius: 3px;
		color: black;
    background-color: white;
		transition: 1s;
		margin-top: 8px;
}
.se1:focus{
    border: 1px solid #0099ff;
		transition: 1s;
}
#navbar-1{
    background-color: whitesmoke;
		color: gray;
		width: 100%;
		border-bottom: 1px solid gainsboro;
}
.signin{
    padding: 5px 20px;
}
.alignleft{
    text-align: left;
}
.alignright{
    text-align: right;
}
.aligncenter{
    text-align: center;
}
.floatleft{
    float: left;
}
.floatright{
    float: right;
}
.profile-pic{
	margin-top: 25px;
	border-radius: 50%;
}
.username-prof{
	color: white;
	background-color: #262626;
	font-size: 30px;
	margin-top: 25px;
	margin-bottom: 25px;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 5px 25px 5px 25px;
	border: 1px solid white;
}
.editp{
	background-color: whitesmoke;
	color: black;
	padding: 10px 14px 10px 14px;
	border: 0px;
	border-radius: 1px;
	position: absolute;
	top: 5;
	left: 96.6%;
	transition: 0.5s;
}
.editp:hover{
	color: black;
	border: 0px;
	background-color: gainsboro;
	transition: 0.5s;
}
.info-left{
		margin-top: 2%;
    width: 25%;
    float: left;
    text-align: left;
		padding: 25px 25px 70px 20px;
		background-color: gainsboro;
		border-radius: 3px;
}
.info-right{
		min-height: 57vh;
		max-height: 700vh;
    width: 75%;
    float: left;
    text-align: left;
		padding: 25px 25px 70px 40px;
		background-color: whitesmoke;
		border-radius: 3px;
}
#infam{
	 text-transform: capitalize;
	 color: black;
	 font-size: 22px;
	 font-weight: bold;
}
.info-o{
	color: gray;
	font-size: 14px;
	line-height: 30px;
}
.edit{
	line-height: 15px;
	background-color: #e6e6e6;
	padding-top: 35px;
	padding-bottom: 35px;
}
.edit .container{
	line-height: 15px;
	border-radius: 5px;
	transition: 1s;
	background-color: white;
	-webkit-filter: drop-shadow(6px 6px 8px gray); /* Safari 6.0 - 9.0 */
	filter: drop-shadow(6px 6px 8px gray);
}
.field{
	padding: 5px;
	border-radius: 5px;
	width: 90%;
	border: 7px solid #e6e6e6;
	transition: 0.3s;
}
.field:focus{
    border: 1px solid #0099ff;
		transition: 0.5s;
}
.form-left{
	width: 50%;
	line-height: 30px;
	background-color: white;
	float: left;
	text-align: left;
	padding: 25px 25px 70px 20px;
}
.form-left input, textarea{
	color: #0099ff;
}
.form-right{
	width: 50%;
	float: right;
	background-color: white;
	text-align: left;
	padding: 25px 25px 70px 20px;
	height: auto;
}
.cover-edit{
	width: 100%;
	height: 200px;
	border-radius: 15px;
	cursor:pointer;
	border: dotted black 1px;
	padding: 15px;
	transition: 0.5s;
}
.picture-edit{
	width: 250px;
	height: 250px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 40px;
	padding: 15px;
	border-radius: 50%;
	cursor:pointer;
	border: dotted black 1px;
	transition: 0.5s;
}
.picture-edit:hover{
	border: solid black 1px;
	transition: 0.5s;
}
.cover-edit:hover{
	-webkit-filter: drop-shadow(5px 5px 5px gray); /* Safari 6.0 - 9.0 */
	filter: drop-shadow(5px 5px 5px gray);
	border: solid black 1px;
	transition: 0.5s;
}
.save-btn{
	padding: 15px 35px 15px 35px;
	background-color: orange;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	transition: 0.3s;
}
.save{
	display: none;
}
.save-btn:hover{
	padding: 15px 35px 15px 35px;
	background-color: white;
	color: black;
	border: 1px solid gray;
	transition: 0.6s;
}
.cancel{
	padding: 15px 35px 15px 35px;
	background-color: tomato;
	color: white;
	border: 1px solid whitesmoke;
	border-radius: 5px;
}
.cancel:hover{
	padding: 15px 35px 15px 35px;
	background-color: red;
	color: white;
	border: 1px solid whitesmoke;
	border-radius: 5px;
	transition: 0.6s;
}
.success{
	color: white;
	background-color: #009933;
	padding: 20px;
	margin-bottom: 20px;
	position: fixed;
	top:0;
	margin-top: 0;
}
.success-btn{
	color: white;
	background-color: green;
	border: none;
	border-radius: 5px;
	padding: 8px;
}
#cover{
	display: none;
}
#picture{
	display: none;
}
.btns-update{
	margin-top: 245px;
	float: left;
}
.profile-btns{
	width: 25%;
	float: left;
	background-color: white;
	text-align: center;
	padding: 5px;
	margin-bottom: 15px;
	border: 0.5px solid #0099ff;
	color: gray;
	transition: 0.4s;
}
.profile-btns:hover{
	border: 0.5px solid #0099ff;
	background-color: #0099ff;
	color: white;
	border-left: 1px solid white;
	transition: 0.4s;
}
.podcasts-1{
	width: 49%;
	float: left;
	background-color: white;
	border: 1px solid gainsboro;
	height: 250px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.pc-count{
	padding-left: 23px;
}
.pc-btn{
	width: 60%;
	color: white;
	border: 1px solid #00b386;
	background-color: #00b386;
	height: 45px;
	font-size: 15px;
	font-weight: 600;
	transition: 0.3s;
	margin-top: -2.5px;
}
.pc-btn:hover{
	background-color: #00cc99;
	transition: 0.3s;
}
.episode-icon{
	color: red;
	font-size: 15px;
}
.episode-count{
	font-size: 15px;
}
.pd-icon{
	font-size: 13px;
}
.active{
	background-color: #0099ff;
	color: white;
}
.detail-left{
	float: left;
	width: 40%;
	border-left: 2px solid gainsboro;
	border-top: 1px solid gainsboro;
}
.detail-right{
	background-color: whitesmoke;
	float: left;
	width: 60%;
	padding-left:9px ;
	height: 250px;
	line-height: 25px;
	border-right: 1px solid gainsboro;
	border-top: 1px solid gainsboro;
	padding-right: 7px;
}
.detail-right p{
	color: gray;
}
.detail-right h2{
	text-transform: capitalize;
}
.episodes h2{
	color: #002966;
	font-weight: bold;
	font-size: 27px;
	margin-bottom: 45px;
}
.episodes .container{
	background-color: white;
	border: 1px solid gainsboro;
}
.ep{
	width: 100%;
}
.ep-img{
	width: 25%;
	margin-top: 15px;
	float: left;
}
.ep-img-p{
	width: 40%;
	margin-top: 15px;
	float: left;
}
.ep-detail{
	width: 75%;
	float: left;
	padding-left: 25px;
	line-height: 27px;
}
.ep-detail-p{
	width: 60%;
	float: left;
	padding-left: 25px;
	line-height: 27px;
}
.ep-detail-p p{
	color: gray;
}
.listen-btn{
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 5px 27px 5px 27px;
	border-radius: 3px;
	margin-top: 15px;
}
.listen-btn:hover{
	background-color: white;
	color: #4CAF50;
	border: 1px solid #4CAF50;
	padding: 4px 26px 4px 26px;
}
.like-btn{
	color: gray;
	border: none;
	padding: 5px 17px 5px 17px;
	font-size: 17px;
}
.comment-btn{
	color: gray;
	border: none;
	padding: 5px 17px 5px 17px;
	font-size: 17px;
}
.podcast-setting-btn{
	color: gray;
	left: 97%;
	font-size: 20px;
	padding-top: 5px;
	cursor: pointer;
}
.pc-setting .container{
	border: 2px solid gainsboro;
	margin-bottom: 15px;
	border-radius: 3px;
	background-color: whitesmoke;
}
.edit-pc{
	margin-left: 20%;
	margin-right: 20%;
}
.edit-pc input:first-of-type{
	color: #0099ff;
}
#pd-pic{
	display: none;
}
.delete-btn{
	padding: 15px 35px 15px 35px;
	background-color: #ff3333;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	transition: 0.3s;
}
.delete-btn:hover{
	padding: 15px 35px 15px 35px;
	background-color: red;
	color: white;
	border: 1px solid gray;
	transition: 0.6s;
}
.chpic-btn{
	padding: 15px 35px 15px 35px;
	background-color: white;
	color: black;
	border: 1px solid gray;
	border-radius: 5px;
	transition: 0.5s;
	margin-bottom: 44px;
}
.chpic-btn:hover{
	padding: 15px 35px 15px 35px;
	color: #0099ff;
	border: 1px solid gray;
	transition: 0.9s;
}
.cancel-btn-pc{
	padding: 15px 35px 15px 35px;
	background-color: white;
	color: black;
	border: 1px solid gray;
	border-radius: 5px;
	transition: 0.5s;
		float: right;
}
.cancel-btn-pc:hover{
	padding: 15px 35px 15px 35px;
	color: tomato;
	border: 1px solid gray;
	transition: 0.9s;
}
.confirm-delete{
	background-color: white;
	border: 1px solid gainsboro;
	position: fixed;
	top:0;
	padding: 45px 77px;
	margin-left: 25%;
	margin-right: 25%;
	line-height: 15px;
}
.confirm-delete p{
	color: gray;
}
.confirm-delete-yes{
	padding: 15px 35px 15px 35px;
	background-color: #ff9999;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	transition: 0.5s;
}
.confirm-delete-cancel{
	padding: 15px 35px 15px 35px;
	background-color: white;
	color: gray;
	border: 1px solid gainsboro;
	border-radius: 5px;
	transition: 0.5s;
}
.save-btn-pc{
	padding: 15px 35px 15px 35px;
	background-color: orange;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	transition: 0.3s;
}
.save-btn-pc:hover{
	padding: 15px 35px 15px 35px;
	background-color: #ff8533;
	color: black;
	border: 1px solid gray;
	transition: 0.6s;
}
.errors{
	color: white;
	background-color: tomato;
	padding: 20px;
	margin-bottom: 20px;
	position: fixed;
	top:0;
	margin-top: 0;
}
.errors-btn{
	color: white;
	background-color: red;
	border: none;
	border-radius: 5px;
	padding: 8px;
}
#episode-audio audio{
	width: 100%;
	background-color: white;
	color: white;
  margin-top: 15px;
}
.ep-audio-img{
	width: 100%;
	height: 500px;
}
.ep-detail-left{
	float: left;
	width: 30%;
	background-color: white;
	padding: 5px 15px 5px 5px;
	margin-top: 15px;
	line-height: 26px;
}
.ep-detail-right{
	float: left;
	width: 70%;
	background-color: white;
	padding: 5px 5px 5px 35px;
	margin-top: 15px;
	line-height: 27px;
}
.ep-detail-pg h2{
	color: rgb(79, 192, 141);
	margin-top: 17px;
	font-weight: bold;
}
.ep-detail-pg p{
	color: gray;
}
.episode-setting-btn {
	position: absolute;
	top: 64px;
	left: 97.31%;
	background-color: rgb(245, 245, 245);
	padding: 7px 7px 7px 8px;
	font-size: 20px;
	color: gray;
	cursor: pointer;
}
.epset{
	margin-top: 15px;
}
.like-ep{
	/* position: fixed;
	top: 85%; */
	font-size: 36px;
	/* right: 4%; */
	color: gray;
	/* padding: 8px 10px 1px 8px;
	border-radius: 55%; */
	background-color: white;
	/* border: 5px solid gainsboro; */
	float: right;
	cursor: pointer;
}
.profile{
	float: right;
	padding-left: 15px;
}
.pr-img{
	border-radius: 50%;
}
.download-btn{
	background-color: rgb(79, 192, 141);
	color: white;
	padding: 8px 17px 8px 17px;
	border: 0px;
	border-radius: 2px;
	width: 100%;
	margin-top: 15px;
	font-size: 22px;
}
.login-div{
	margin: 0;
	background: linear-gradient(25deg,#16054A,#C8A6B4);
  text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
	min-height: 672px;
	max-height: 830px;
}
.login-name{
	color: white;
	text-align: center;
	margin-top: 35px;
	font-size: 17px;
}
.login-name a{
	color: white;
	text-decoration: none;
}
.login-form{
	margin-top: 10px;
	margin-right: 18%;
	margin-left: 22%;
}
.login-form h5,p{
	color: white;
	margin-bottom: 10px;
	font-size: 15px;
}
.login-field{
	padding: 5px;
	border-radius: 5px;
	width: 90%;
	border: 1px solid #2eb8b8;
	transition: 0.5s;
	caret-color: purple;
}
.login-field:focus{
		transition: 0.3s;
		border: 7px solid #e6e6e6;
}
.login-btn{
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 7px 18px 7px 18px;
	background-color: #248f8f;
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	font-size: 17px;
	transition: 0.5s;
	cursor: pointer;
}
.login-btn:hover{
	background-color: white;
	color: #2eb8b8;
	transition: 0.5s;
}
.regme{
	margin-top: 5px;
	padding: 8px;
	cursor: pointer;
	border: 0px;
	border-radius: 3px;
	font-size: 15px;
}
.regme:hover{
	background-color: white;
	color: #2eb8b8;
	transition: 0.2s;
}
.login-nav{
	border-bottom: 0.5px solid gainsboro;
	padding: 8px;
	color: white;
}
.login-nav a{
	color: white;
	text-decoration: none;
}
.login-nav span{
	font-size: 15px;
}
.login-footer{
	margin-top: 130px;
	color: gainsboro;
	border-top: 0.5px solid gainsboro;
	text-align: center;
	padding: 16px;
}
.logout{
	cursor: pointer;
	float: right;
	margin-right: 1%;
	margin-left: 1%;
	padding-top: 12px;
}
.notification{
	cursor: pointer;
	padding-top: 13px;
	margin-right: 2%;
}
.register{
	color: white;
}
.reg-name{
	text-align: left;
}
.reg-name a{
	color: white;
	text-decoration: none;
}
.reg-field{
	color: black;
}
.reg-c{
	color: black;
	padding: 7px 20px 7px 20px;
}
.addpodc{
	margin-right: 20%;
	margin-left: 20%;
	background-color: #f2f2f2;
}
.addpc{
	background-color: #f2f2f2;
}
.addpc-pic{
	margin-bottom: 5px;
	border: 0.5px solid #2eb8b8;
	color: rgb(51, 51, 51);
}
.add-btn-pc{
	padding: 15px 35px 15px 35px;
	background-color: green;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	transition: 0.3s;
}
.add-btn-pc:hover{
	padding: 15px 35px 15px 35px;
	background-color: #00b300;
	color: black;
	border: 1px solid gray;
	transition: 0.6s;
}
.selpodc{
	width: 25%;
}
#pd-aud{
	display: none;
}
.f2{
    background-color: whitesmoke;
		border-bottom: 4px solid gainsboro;
		border-top: 1px solid gainsboro;
    text-align: center;
    color: gray;
    line-height: 30px;
		margin-bottom: 0px;
		width: 100%;
		padding: 15px 0px 15px 0px;
}
.add-podcast-btn{
	background-color: white;
	padding: 7px 15px 7px 15px;
	margin-top: 7px;
	color: gray;
	border: 1px solid gray;
	border-radius: 3px;
	transition: 0.5s;
}
.add-podcast-btn:hover{
	background-color: #999999;
	color: white;
	border: 1px solid gray;
	transition: 0.5s;
}
.add-episode-btn{
	background-color: white;
	padding: 7px 15px 7px 15px;
	margin-top: 7px;
	margin-left: 0.5%;
	color: gray;
	border: 1px solid gray;
	border-radius: 3px;
	transition: 0.5s;
}
.add-episode-btn:hover{
	background-color: #999999;
	color: white;
	border: 1px solid gray;
	transition: 0.5s;
}
.search{
	padding-top: 12px;
	cursor: pointer;
	margin-right: 2%;
	margin-left: 1%;
}
.home{
	padding-top: 12px;
	cursor: pointer;
	float: right;
	color: gray;
	margin-right: 1%;
	margin-left: 2%;
}
.cover-prof{
	 background-repeat: no-repeat, repeat;
	 background-size: cover;
}
.logo{
	font-family: 'Oleo Script', cursive;
	font-size: 25px;
	margin-left: 15%;
	margin-right: 15%;
}
.logo1{
	font-family: 'Oleo Script', cursive;
	font-size: 25px;
	margin-left: 29%;
	margin-right: 25%;
	color: #595959;
}
.logo1 a{
	color: #595959;	
}
.logo a{
	color: #595959;
	text-decoration: none;
	transition: 0.5s;
}
.logo a:hover{
	color: #0099ff;
	transition: 0.5s;
}
.container-profile{
	margin-left: 3%;
}
.l-episodes{
	width: 65%;
	float: left;
	margin-top: 45px;
}
.episode-inf{
	width: 70%;
	float: left;
	padding-right: 10px;
	margin-bottom: 30px;
}
.episode-img{
	width: 30%;
	float: right;
}
.episode-inf p{
	line-height: normal;
	color: gray;
}
.p-episodes{
	width: 35%;
	float: right;
	padding-left: 40px;
	margin-top: 45px;
}
.p-episodes-container{
	margin-left: 1%;
	background-color: whitesmoke;
	padding: 10px;
}
.p-episodes p{
	color: gray;
	line-height: normal;
}
.podcast-div{
	margin-bottom: 104px;
}
.podcast-div a{
text-decoration: none;
}
.la-podcasts{
	margin-top: 35px;
}
.p-podcasts-container{
	background-color: #f2f2f2;
	padding: 10px;
}
.img-wlc{
	background: url('http://127.0.0.1:8000/media/user_pics/defaults/sunk.png');
	height: 380px;
	margin-bottom: 18px;
	margin-top: 20px;
	border-radius: 3px;
	padding: 15px 0px 0px 15px;
}
.img-wlc h1{
	padding-left: 30px;
	margin-top: 95px;
	font-weight:bold;
	color: #404040;
	line-height: 42px;
	font-family: 'Abril Fatface', cursive;
}
.get-s-btn{
	margin-left: 30px;
	background-color: white;
	padding: 11px 17px 11px 17px;
	border: 1px solid white;
	border-radius: 3px;
	color: #404040;
	margin-top: 10px;
	transition: 0.8s;
}
.get-s-btn:hover{
	color: black;
	background-color: #FFCDB2;
	transition: 0.9s;
}
.previous-btn{
	padding: 8px 40px 8px 40px;
	color: rgb(0, 122, 204);
	background-color: white;
	border: 1px solid rgb(0, 122, 204);
	border-radius: 3px;
}
.next-btn{
	padding: 8px 40px 8px 40px;
	color: rgb(0, 122, 204);
	background-color: white;
	border: 1px solid rgb(0, 122, 204);
	border-radius: 3px;
}
.next-btn:hover{
	transition: 0.5s;
	border: 1px solid gray;
	color: gray;
}
.previous-btn:hover{
	transition: 0.5s;
	border: 1px solid gray;
	color: gray;
}
.h2-lp{
	width: 78%;
	float: left;
	margin-bottom: 10px;
}
.lp-btns{
	width: 22%;
	float: right;
	margin-top: 22px;
}
.lp-h{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}
.active-btns{
	width: 43%;
	float: right;
	margin-top: 22px;
}
.active1{
	width: 57%;
	float: left;
	margin-bottom: 10px;
}
.report-ep{
	color: gray;
	margin-top: 23px;
	margin-left: 1%;
	cursor: pointer;
}
.del-ep{
	color: gray;
	margin-top: 23px;
	cursor: pointer;
}
.ep-detail p{
	color: gray;
	line-height: normal;
}
.nameepdel{
	color: black;
	text-decoration: underline;
}
.jj{
	margin-top: 85px;
	margin-bottom: 20px;
	border-bottom: 1px solid gainsboro;
}
.new-podcasts{
	width: 100%;
	margin-bottom: 25%;
	text-align: center;
	margin-top: 45px;
}
.new-podcasts h2{
	text-align: left;
	color: rgb(51, 51, 51);
}
.new-pdc{
	background-color: white;
	width: 32.333333333%;
	height: 250px;
	border: 1px solid gainsboro;
	float: left;
	padding: 0px;
	margin-top: 11px;
	margin-right: 1%;
}
.new-pdc a{
	text-decoration: none;
	color: #8c8c8c;
}
.new-pdc:hover{
	box-shadow: 1px 1px 4px 1px #888888;
}
.epliked{
	color: rgb(224, 36, 94);
	transition: 0.1s;
}
.eplike{
	color: #a6a6a6;
	transition: 0.1s;
}
.follow-btn{
	background-color: white;
	padding: 8px 23px 8px 23px;
	border-radius: 3px;
	border: 1px solid #0066cc;
	color: #0066cc;
	font-weight: normal;
	font-size: 17px;
	margin-top: -8px;
	cursor: pointer;
	float: right;
}
.follow-btn:hover{
	background-color: #cce6ff;
}
.unfollow-btn{
	background-color: #0066cc;
	padding: 8px 16px 8px 16px;
	border-radius: 3px;
	border: 1px solid #0066cc;
	color: white;
	font-weight: normal;
	font-size: 17px;
	margin-top: -8px;
	cursor: pointer;
	float: right;
}
.unfollow-btn:hover{
	background-color: #0084ff;
}
.follows-you{
	background-color: #bfbfbf;
	color: gray;
	width: 34%;
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 15px;
}
/* .following{
	width: 100%;
} */
.following-div{
	width: 33.333333333%;
	float: left;
	text-align: center;
}
.report{
	background-color: rgb(76, 175, 80);
	color: white;
	position: fixed;
	top: 0;
	padding: 5px;
	margin-left: 30%;
	margin-right: 30%;
	border-radius: 3px;
}
.puu{
	color: rgb(51, 51, 51);
}
.puu:hover{
	text-decoration: none;
}
.ep-detail-left a{
	text-decoration: none;
}
pre{
	background-color: white;
}
.namefield{
	width: 50%;
}
.desfield{
	width: 80%;
	height: 250px;
	line-height: 22px;
}
.login-a{
	color: gray;
}
