<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Sunken{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/vue.js' %}" type="text/javascript"></script>
  </head>
  <body>
    <section v-if='show' id="navbar-1">
            <div class="container">
                <span v-if='logedin' class="profile"><a v-bind:href="addprurl()"><img class="pr-img" v-bind:src="info.picture" v-bind:title='myuser' width='42.5px' height='40px'></a></span>
                <a title="Home" href="{% url 'index' %}"><span class="glyphicon glyphicon-home home"></span></a>
              <a v-if='!logedin' href="{% url 'Login' %}"><span title="Login" class="logout glyphicon glyphicon-log-in login-a"></span></a>
                <span v-if='logedin' title="Logout" v-on:click='logout' class="logout glyphicon glyphicon-log-out"></span>
                <span title="Search" class="floatright glyphicon glyphicon-search search"></span>
                <span v-if='logedin' title="Notification" class="glyphicon glyphicon-bell floatright notification"></span>
                <a v-if='!logedin' href="{% url 'Login' %}"><button class="alignleft add-podcast-btn"> Login / Register </button></a>
                <a v-if='logedin' href="{% url 'add_podcast_pg' %}"><button class="alignleft add-podcast-btn"><span class="glyphicon glyphicon-cd"></span> Add podcast</button></a>
                <a v-if='logedin' href="{% url 'add_episode_pg' %}"><button class="alignleft add-episode-btn"><span class="glyphicon glyphicon-record"></span> Add Episode</button></a>
                <span v-if='logedin' class="alignleft logo"><a href="{% url 'index' %}">Sunken Podcast</a></span>
                <span v-if='!logedin' class="alignleft logo1"><a href="{% url 'index' %}">Sunken Podcast</a></span>
            </div>
    </section>
    {% block content %}

    {% endblock %}
        <section class="f2">
            <div class="container">
                <span>Sunken Podcast</span><br>
                <span>Copyright 2018 - </span>
                <span>All rights reserved.</span>
            </div>
        </section>
    <script src="{% static 'js/base.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
