<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Sunken - Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body class="login-div">
    <div v-if='!register1' class="login-nav">
      <span>
      <span class="glyphicon glyphicon-exclamation-sign"></span><a href="#"> About Sunken &nbsp;&nbsp;</a>
      <span class="glyphicon glyphicon-envelope"></span><a href="#"> Contact Us</a>
      </span>
    </div>
    <div id="login-div-id" class="container">
      <div v-if='!register1' class="login-name">
        <h1><a href="/">Sunken Podcast</a> / Login</h1><br>
      </div>
      <div v-if='!register1' class="login-form">
        <form v-on:submit.prevent='login' method="POST">
            <h5>Username:</h5>
            <input class="login-field" type="text" v-model:value='username'>
            <br><br>
            <h5>Password:</h5>
            <input class="login-field" type="password" v-model:value='password'><br>
          <input class="save" id='save' type="submit">
        </form>
        <button onclick="document.getElementById('save').click();" class='login-btn'>Login</button>
        <div v-if='errors' class="errors">
          <p>[[errortext]] <button class="errors-btn" type="button" v-on:Click='close'>Ok</button></p>
        </div>
      </div>
      <div v-if='!register1' class="login-form">
      <p>Don't you have an account?</p>
      <button v-on:click='registeron' class="regme" type="button" name="button">Register Now</button>
    </div>
    <div v-if='register1' class="register">
      <div class="container">
        <div class="login-form">
          <div class="reg-name">
          <h1><a href="/">Sunken Podcast</a> / Register</h1><br>
          </div>
          <form v-on:submit.prevent='register' method="POST">
              <h5>Username:</h5>
              <input class="login-field reg-field" type="text" v-model:value='username1'>
              <br><br>
              <h5>Email:</h5>
              <input class="login-field reg-field" type="text" v-model:value='email'>
              <br><br>
              <h5>Password:</h5>
              <input class="login-field reg-field" type="password" v-model:value='password1'><br><br>
              <h5>Confirm Password:</h5>
              <input class="login-field reg-field" type="password" v-model:value='password2'><br>
            <input class="save" id='save1' type="submit">
          </form>
          <button onclick="document.getElementById('save1').click();" class='login-btn'>Register</button>
          <div v-if='errors' class="errors">
            <p>[[errortext]] <button class="errors-btn" type="button" v-on:Click='close'>Ok</button></p>
          </div>
        </div>
        <div class="login-form">
        <p>Do you have an account?</p>
        <button v-on:click='registeron' class="regme reg-c" type="button" name="button">Login</button>
      </div>
      </div>
    </div>
    </div>
    <div class="login-footer">
      <p>Sunken Podcast </p>
      <p>Copyright 2018</p>
    </div>
    <script src="{% static 'js/vue.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
