{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Profile{% endblock %}
{% block content %}
<div v-if='show' id='profile-head'>
  <div v-show='!edit'>
    <div v-show='success' class="success">
      <p>Profile Successfully Updated. <button class="success-btn" type="button" v-on:Click='close'>Ok</button></p>
    </div>
    <button v-if='permission' v-on:Click='editInfo' class="floatright editp"><span class="glyphicon glyphicon-edit"></span></button>
    <div class="aligncenter" v-bind:style="{ 'background': 'url(' + info.cover + ')', 'background-repeat': 'no-repeat','background-size': 'cover', 'padding': '25px' }">
      <img class="profile-pic" v-bind:src="info.picture" alt="" width="185px" height="178px"><br>
      <span class="username-prof">@[[info.username]]</span>
    </div>
  </div>
  <div v-show='!edit' class="container-profile">
      <div class="info-left">
        <p id='infam'>[[info.first_name]] [[info.last_name]] <span v-if='follow_per && myuser' v-on:click='follow' v-bind:class="followClass">[[fl]]</span> </p><br>
        <p class="follows-you" v-if='follows'>Follows you</p>
        <p class="info-o"><span class="glyphicon glyphicon-info-sign"></span> [[info.bio]]</p><hr>
        <p class="info-o"><span class="glyphicon glyphicon-link"></span> <a target='_blank' v-bind:href="info.url">[[info.url]]</a></p><hr>
        <p class="info-o"><span class="glyphicon glyphicon-map-marker"></span> [[info.location]]</p><hr>
        <p class="info-o"><span class="glyphicon glyphicon-gift"></span> [[info.birth_date]]</p>
      </div>
      <div class="info-right">
        <button v-on:click='activepd' type="button" v-bind:class="[activePodcasts ? 'active' : '', 'profile-btns']" name="button">Podcasts [[podcasts.count]]</button>
        <button v-on:click='following' v-bind:class="[activeFollowing ? 'active' : '', 'profile-btns']" type="button" class="profile-btns" name="button">Following [[followings.count]]</button>
        <button v-on:click='follower' v-bind:class="[activeFollowers ? 'active' : '', 'profile-btns']" type="button" class="profile-btns" name="button">Followers [[followers.count]]</button>
        <button v-on:click='likedEpisodes' type="button" v-bind:class="[activeLikes ? 'active' : '', 'profile-btns']" name="button">Likes [[liked_episodes.count]]</button>
        <div v-if='activePodcasts' id="podcasts">
          <div v-for='podcast in podcasts.results' class="podcasts-1">
            <img v-bind:src="podcast.picture" width="100%" height="201px">
            <a v-bind:href="podcast.url"><button type="button" class="pc-btn" name="button"><span class="glyphicon glyphicon-bullhorn pd-icon"></span>  [[podcast.name]]</button></a>
            <span class="pc-count">
              <span class="glyphicon glyphicon-record episode-icon"></span> <span class="episode-count">Episodes ([[podcast.episodes]])</span>
            </span>
          </div>
        </div>

        <div v-if='activeLikes' v-for='episode in liked_episodes.results' class="container">
          <div class="ep">
          <div class="ep-img-p">
            <img v-bind:src="episode.picture" width="100%" height="150px">
          </div>
          <div class="ep-detail-p">
              <h3>[[episode.name]]</h3>
              <p>[[episode.description]]</p>
              <a v-bind:href="epUrl(episode.id)"><button type="button" class="listen-btn" name="button"><span class="glyphicon glyphicon-play-circle"></span> Listen</button></a>
          </div>
        </div>
      </div>

      <div class="following" v-if='activeFollowing' >
        <div v-for='following in followings.results' class="following-div">
          <a v-bind:href="addfourl(following.username)"><img class="profile-pic" v-bind:src="following.picture" alt="" width="175px" height="168px"><br>
          <span class="username-prof">@[[following.username]]</span>
          </a>
        </div>
      </div>

      <div class="following" v-if='activeFollowers' >
        <div v-for='follower in followers.results' class="following-div">
          <a v-bind:href="addfourl(follower.username)"><img class="profile-pic" v-bind:src="follower.picture" alt="" width="175px" height="168px"><br>
          <span class="username-prof">@[[follower.username]]</span>
          </a>
        </div>
      </div>

      </div>
  </div>
  <div v-show='edit' class="edit">
  <div class="container">
  <form v-on:submit.prevent='update' method="PUT">
    <div class="form-left">
      <h5>First name:</h5>
      <input class="field" type="text" v-model:value="info.first_name">
      <br><br>
      <h5>Last name:</h5>
      <input class="field" type="text" v-model:value="info.last_name">
      <br><br>
      <h5>Url:</h5>
      <input class="field" type="text" v-model:value="info.url">
      <br><br>
      <h5>Birth date:</h5>
      <input class="field" type="text" v-model:value="info.birth_date">
      <br><br>
      <h5>Location:</h5>
      <input class="field" type="text" v-model:value="info.location">
      <br><br>
      <h5>Bio:</h5>
      <textarea class="field" rows="5" cols="50" type="text" v-model:value="info.bio"></textarea>
      <br><br>
      <input id="picture" type="file" name="picture" @change='attachFile'>
      <input id="cover" type="file" name="cover" @change='attachFile1'>
    </div>
    <div class="form-right">
      <img v-bind:src="info.cover" class="cover-edit" onclick="document.getElementById('cover').click();">
      <img v-bind:src="info.picture" class="picture-edit"  onclick="document.getElementById('picture').click();">
    </div>
    <input class="save" id='save' type="submit" value="Save">
  </form>
  <div class="btns-update">
    <input class="save-btn" type="submit" value="Save" onclick="document.getElementById('save').click();">
    <button class="cancel" v-on:Click='editInfo'>Cancel</button>
  </div>
  </div>
  <div v-if='error' class="errors">
    <p>[[errorText]] <button class="errors-btn" type="button" v-on:Click='closeer'>Ok</button></p>
  </div>
  </div>
</div>
{% endblock %}
{% block js %}<script src="{% static 'js/master.js' %}" type="text/javascript"></script>{% endblock %}
